<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create a message</title>
  </head>
  <body>
    <div>
      <h1>Make a message</h1>
      <form method="POST" action="/new">
        <div>
          Author
          <input type="text" name="messageUser" />
        </div>
        <div>
          Message
          <input type="text" name="messageText" />
        </div>
        <button>Submit</button>
      </form>
    </div>
  </body>
</html>
