<!DOCTYPE html>
<html>
  <head>
    <title>Message Board</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <div class="all-cards">
      <% messages.forEach((item) => { %>
      <div class="card">
        <div class="post-name"><%= item.user %></div>
        <div class="post-date"><%= item.added %></div>
        <div class="post-text"><%= item.text %></div>
      </div>
      <% }) %>
    </div>
    <a href="/new">
      <button class="new-message">New message</button>
    </a>
  </body>
</html>
